.items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.cart-table-container {
    height: 100%;
    width: 100%;
    margin-left: 0px;
}

.pay-button{
    margin-left: 1130px;
    margin-bottom: 20px;
}